### Librerias

In [173]:
#importo librerias
import pandas as pd
import re
import numpy as np
import missingno as msno
import re

In [174]:
#Listas de valores nulos
common_na_strings = ["missing",
    "NA",
    "N A",
    "N/A",
    "#N/A",
    "NA ",
    " NA",
    "N /A",
    "N / A",
    " N / A",
    "N / A ",
    "na",
    "n a",
    "n/a",
    "na ",
    " na",
    "n /a",
    "n / a",
    " a / a",
    "n / a ",
    "NULL",
    "null",
    "",
    "?",
    "*",
    ".",]

common_na_numbers = (-9, -99, -999, -9999, 9999, 66, 77, 88, -1)

# CSV 1

### Carga CSV

### Modificacion columnas

### Valores

### Limpieza de valores con simbolos extraños

### Remplazo Na

### Guardado de CSV

# CSV 2

### Lectura CSV

,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorolÃ³gico,tipo_vehiculo,tipo_persona,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,Unnamed: 19,Unnamed: 20
ï»¿num_expediente,,,,,,,,,,,,,,,,,,,,
2022S002052,30/01/2022,3:05:00,AVDA. ARCENTALES / CALL. ESTOCOLMO,80,20,SAN BLAS-CANILLEJAS,ColisiÃ³n fronto-lateral,Despejado,Turismo,Conductor,De 25 a 29 aÃ±os,Hombre,NaN,NaN,"449058,135","4475986,961",N,NaN,NaN,NaN
2022S002413,03/02/2022,11:35:00,"CALL. CLARA DEL REY, 23",23,5,CHAMARTÃN,ColisiÃ³n fronto-lateral,Despejado,Motocicleta hasta 125cc,Conductor,De 45 a 49 aÃ±os,Hombre,7.0,Asistencia sanitaria sÃ³lo en el lugar del acc...,"443001,168","4476940,609",N,NaN,NaN,NaN
2022S020438,01/07/2022,19:50:00,"CALL. VIA LUSITANA, 56",56,11,CARABANCHEL,Atropello a persona,Despejado,Motocicleta > 125cc,Conductor,De 35 a 39 aÃ±os,Hombre,14.0,Sin asistencia sanitaria,"438438,646","4470264,199",N,NaN,NaN,NaN

### Modificando columnas

### Valores

,accidentes_hora,accidentes_via_nombre,accidentes_via_numero,accidentes_distrito,accidentes_longitud,accidentes_latitud,accidentes_localidad
ï»¿num_expediente,,,,,,,
2022S023892,7:40:00,CALL. DULCE CHACON / CMNO. FUENTE DE LA MORA,15,HORTALEZA,"443820,082","4481706,275",Madrid
2022S000481,20:15:00,CALL. VELAZQUEZ / CALL. JOAQUIN COSTA,146,CHAMARTÃN,"442106,722","4477104,944",Madrid
2022S017784,21:45:00,"AVDA. DEMOCRACIA, 3",3,PUENTE DE VALLECAS,"446937,294","4470421,422",Madrid

### Remplazo de Na

### Guardado de CSV

## Conclucion: